<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
.color{
    background-color: #000;
        width: 100px;
    aspect-ratio: 16/9;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
#drop-area{
    width: 100px;
    aspect-ratio: 16/9;
    background-color: gray;

}
    </style>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data" class="color">
        <label for="input_file" id="drop-area"></label>
        <input type="file" name="video" id="input_file">
          <i class="fas fa-cloud-upload-alt upload-icon"></i>
                   <p>Drag & Drop files</p> or folders here</p>
        <button type="submit">submit</button>
    </form>
</body>
</html>